[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
undetected-chromedriver = "*"
boto3 = "*"
imessage-reader = "*"
pyotp = "*"
anticaptchaofficial = "*"
chromedriver-autoinstaller = "*"

[dev-packages]


[requires]
python_version = "3.10"
